.signUp{
    overflow: hidden;
    text-align: center;
    position: fixed;
    width: 340px;
    height: 275px;
    top: 55%;
    left: 50%;
    margin-top: -140px;
    margin-left: -170px;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

.lowerS{
    text-align: center;
    /*background: #E0E0E0;*/
    width: 100%;
    height: 75px;
    margin-top: 20px;
    box-shadow: inset 0 1px 1px #fff;
    border-top: 1px solid #ccc;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.signUp .inpUser{
     background-image: url(../irudiak/user.png);
     background-size: auto 90%;
     background-position: 1px 1px;
}

.signUp .inpName{
     background-image: url(../irudiak/name.png);
     background-size: auto 90%;
     background-position: 2px 1px;
}
.signUp .inpEmail{
     background-image: url(../irudiak/email.png);
     background-size: auto 60%;
     background-position: 2px 4px;
}
.signUp .inpPass{
     background-image: url(../irudiak/pass.png);
     background-size: auto 90%;
     background-position: 1px 2px;
}

.signUp input[type=text],
.signUp input[type=password],
.signUp input[type=email]{
    margin-bottom: 5px;
    margin-left: -5%;
    width: 65%;
    background-repeat: no-repeat;
    padding-left:25px;
}