.mezua{
	text-align: center;
}

.feed{
	text-align: center;
}

.feed-img-div{
	margin: 10px;
	display: inline-block;
	width: 200px;
}

.feed-img-div img{
	width: 200px;
}

.feed-img-div .profil-link{
	display: inline-block;
	width: 50%;
	float: left;
}

.feed-img-div .puntu-botoi{
	display: inline-block;
	width: 45%;
	float: right;
	padding-left: 5%;
}

.puntu-botoi i{
	margin-right: 10px;
	cursor: pointer;
    display: inline-block;
    padding: 3px;
}

.puntu-botoi i:hover{
	border: solid #616161;
    border-width: 0 3px 3px 0;
}

.like-press{
	border: solid #4CAF50;
	border-width: 0 3px 3px 0;
	transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.dislike-press{
	border: solid #F44336;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
}

.puntu-botoi .p{
	border: solid #000;
	border-width: 0 3px 3px 0;
	transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.puntu-botoi .n{
	border: solid #000;
	border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
}

.feedBotoiak{
	margin-bottom: 100px;
	display: block;
	text-align: center;
	margin-bottom: 75px;
}

.feedBotoia {
	width: 130px;
	outline: none;
	border-radius: 5px;
	padding: 15px 15px;
	font-size: 15px;
	color: #fff;
	border: none;
	margin-right: 10px;
	margin-left: 10px;
}

.feedBotoia:active {
	transform: translate(0px, 5px);
	-webkit-transform: translate(0px, 5px);
	box-shadow: 0px 1px 0px 0px;
}

.botoiaTop {
	background-color: #55acee;
	box-shadow: 0px 5px 0px 0px #3C93D5;
}

.botoiaTop:hover {
	background-color: #6FC6FF;
}

.botoiaAzkenak {
	background-color: #9b59b6;
	box-shadow: 0px 5px 0px 0px #82409D;
}

.botoiaAzkenak:hover {
	background-color: #B573D0;
}

.botoiaJarraitzen {
	background-color: #e67e22;
	box-shadow: 0px 5px 0px 0px #CD6509;
}

.botoiaJarraitzen:hover {
	background-color: #FF983C;
}
